html {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.cuerpo {
  box-shadow: 76px 92px 14px -26px rgba(0,0,0,0.83);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 50%;
  height: 800px;
  width: 800px;
  font-family: 'Arial', sans-serif;
  background-color: black;
  border: 1px solid #ccc;
  margin: 25px;
}

.mecha1 {
  position: absolute;
  left: 450px;
  bottom: 300px;
  rotate: -18deg;
  height: 150px;
  width: 150px;
  background-color: black;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  z-index: 910;
}

.mecha2 {
  animation: mecha2Animation 3.7s infinite;
  position: absolute;
  rotate: -5deg;
  left: 180px;
  bottom: 270px;
  height: 100px;
  width: 300px;
  background-color: #FF4500;
  border: 10px solid red;
  border-radius: 100% 50% 100% 50%;
  z-index: 900;
}

.llama {
  position: absolute;
  rotate: -8deg;
  left: 320px;
  bottom: 320px;
  height: 30px;
  width: 150px;
  background-color: yellow;
  border: 10px solid red;
  border-radius: 100% 50% 100% 50%;
  z-index: 900;
}

.vanish {
  animation: vanishAnimation 4s forwards;
}

.spawn2 {
  animation: spawnAnimation2 14s forwards;
}

.reflejo {
  position: absolute;
  rotate: 98deg;
  left: 510px;
  bottom: 550px;
  height: 30px;
  width: 200px;
  background-color: #ccc;
  border-radius: 100% 50% 100% 50%;
  z-index: 900;
}

.reflejo2 {
  position: absolute;
  rotate: 115deg;
  left: 610px;
  bottom: 700px;
  height: 20px;
  width: 50px;
  background-color: #ccc;
  border-radius: 100% 50% 100% 50%;
  z-index: 998;
}

h1 {
  animation: h1Animation 3.6s infinite;
  font-size: 100px;
  font-family: fantasy;
  color:  #F21010;
}
#result .green {
  color: #2ecc71;
}

#result .red {
  color: #e74c3c;
}

#countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

#result {
  position: relative;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 200px;
}

#restart {
  margin-top: 30px;
  margin-bottom: 30px;
}

.enunciado {
  animation: spawnAnimation 15s forwards;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
}

.enunciado2 {
  animation: vanishAnimation 4s forwards;
}

.parrafo1 {
  font-family: fantasy;
  font-size: 60px;
  font-weight: bold;
  color: white;
}

.animacion {
  animation: cuentaAtrasAnimation 8s forwards;
}

.parrafo2 {
  font-size: 23px;
  color: black;
  font-weight: bold;
  z-index: 998;
}

.parrafo2Win{
  font-size: 23px;
  color: white;
  font-weight: bold;
  z-index: 998;
}

.animacion2 {
  animation: spawnAnimation 25s forwards;
}

.uDied {
  animation: spawnAnimation 6s forwards;
}

.background {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

#restart {
  position: relative;
  bottom: 20px;
  box-shadow: 0px 5px 0px 0px rgba(138,4,4,1);
  font-weight: bold;
  cursor: pointer;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: none;
  background-color: red;
  border: 1px solid black;
  margin-top: 10px;
  z-index: 999;
}

#restart:hover {
    animation: botonAnimation 2s infinite; 
}





@keyframes h1Animation {
  0% {transform: scale(1); color: #FF4500;}
  25% {transform: scale(1.5); color:  #F21010;}
  50% {transform: scale(1); color: #FF4500;}
  75% {transform: scale(1.5); color: #F21010;}
  100% {transform: scale(1); color: #FF4500;}
}

@keyframes mecha2Animation {
  0% {transform: scale(1); color: #FF4500;}
  25% {transform: scale(1.2); color:  #F21010;}
  50% {transform: scale(1); color: #FF4500;}
  75% {transform: scale(1.2); color: #F21010;}
  100% {transform: scale(1); color: #FF4500;}
}

@keyframes cuentaAtrasAnimation {
  0% {translate: 0px -90px;}
  100% {translate: 0px 65px;}
}

@keyframes botonAnimation {
  25% {translate: 0px 4px; box-shadow: none}
  50% {translate: 0px 0px; box-shadow: 0px 5px 0px 0px rgba(138,4,4,1)}
  75% {translate: 0px 4px; box-shadow: none}
  100% {translate: 0px 0px; box-shadow: 0px 5px 0px 0px rgba(138,4,4,1)}
}

@keyframes vanishAnimation {
  0% {opacity: 100%;}
  100% {opacity: 0%;}
}

@keyframes spawnAnimation {
  0% {opacity: 0%;}
  10% {opacity: 0%;}
  20% {opacity: 0%;}
  100% {opacity: 100%;}
}

@keyframes spawnAnimation2 {
  0% {opacity: 0%;}
  10% {opacity: 0%;}
  20% {opacity: 0%;}
  30% {opacity: 0%;}
  40% {opacity: 0%;}
  50% {opacity: 0%;}
  100% {opacity: 100%;}
}
